In [2]:
import pandas as pd
data=pd.read_csv("data.csv")

In [3]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
x=pd.DataFrame(data["YearsExperience"])
y=pd.DataFrame(data["Salary"])

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.66,random_state=0)#test_size=0.33

In [6]:
print(x_train)

    YearsExperience
16              5.1
8               3.2
14              4.5
23              8.2
20              6.8
1               1.3
29             10.5
6               3.0
4               2.2
18              5.9
19              6.0
9               3.7
7               3.2
25              9.0
3               2.0
0               1.1
21              7.1
15              4.9
12              4.0

In [7]:
print(x_test)

    YearsExperience
2               1.5
28             10.3
13              4.1
10              3.9
26              9.5
24              8.7
27              9.6
11              4.0
17              5.3
22              7.9
5               2.9

In [8]:
print(y_train)

      Salary
16   66029.0
8    64445.0
14   61111.0
23  113812.0
20   91738.0
1    46205.0
29  121872.0
6    60150.0
4    39891.0
18   81363.0
19   93940.0
9    57189.0
7    54445.0
25  105582.0
3    43525.0
0    39343.0
21   98273.0
15   67938.0
12   56957.0

In [9]:
print(y_test)

      Salary
2    37731.0
28  122391.0
13   57081.0
10   63218.0
26  116969.0
24  109431.0
27  112635.0
11   55794.0
17   83088.0
22  101302.0
5    56642.0

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
obj1=LinearRegression()
obj1.fit(x_train,y_train)

LinearRegression()

In [12]:
y_pred=obj1.predict(x_test)

In [13]:
y_pred

array([[ 40551.75603614],
       [123166.57867471],
       [ 64960.68090662],
       [ 63083.0713012 ],
       [115656.14025302],
       [108145.70183133],
       [116594.94505573],
       [ 64021.87610391],
       [ 76226.33853916],
       [100635.26340965],
       [ 53695.02327409]])

In [14]:
from sklearn.metrics import r2_score

In [15]:
r2_score(y_test,y_pred)

0.9766870911747516